a {
  color: #5090b7;
}
a:hover {
  color: #4e7b96;
}

.topbar {
  background-color: #4e7b96;
}
.topbar a:hover {
	color:#FFF;
}

.navbar-inner {
  background-color: #5090b7;
  background-image:none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar .nav > li > a {
  color: #dae7f0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.navbar .nav .active > a {
	background-color: transparent;
}
.navbar .nav .active > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar .dropdown-menu,
.navbar .nav > li > a:hover {
  background-color: #619BBE;
}
.navbar .dropdown-menu a {
  color: #dae7f0;
}
.navbar .dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav > .current_page_item,
.nav > .current-page-ancestor {
	background-position: center -45px;
}

.sub-header {
	background-color:#b2cedf;
}
.sub-header .breadcrumb,
.sub-header .breadcrumb a {
	color:#366c8c;
}

.sub-header .search-bar form input[type=text] {
	border-color: #889fad;
}
.sub-header .search-bar form input[type=text]:focus {
	border-color: #5090B7;
}
.sub-header .search-bar form input[type=submit],
.sub-header .search-bar form input[type=submit]:hover {
	background-position: left -100px;
}

#wp-admin-bar ul li ul {
  background: none repeat scroll 0 0 #5090B7;
  border: 1px solid #5090B7;
}
#wp-admin-bar ul.main-nav li:hover,
#wp-admin-bar ul.main-nav li.sfhover {
  background-color: #5090B7;
}
#wp-admin-bar ul.main-nav li ul li.sfhover {
  background-color: #619BBE;
}


/* Components */
/* ========== */
button,
a.group-button,
input[type=submit],
input[type=reset],
.btn-primary,
.btn-info {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5090b7;
  background-image: -moz-linear-gradient(top, #6aa4c5, #37739f);
  background-image: -ms-linear-gradient(top, #6aa4c5, #37739f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6aa4c5), to(#37739f));
  background-image: -webkit-linear-gradient(top, #6aa4c5, #37739f);
  background-image: -o-linear-gradient(top, #6aa4c5, #37739f);
  background-image: linear-gradient(top, #6aa4c5, #37739f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6aa4c5', endColorstr='#37739f', GradientType=0);
  border-color: #5090b7 #5090b7 #5090b7;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); /* Not modified, but ie seems to not render radius without it */
}
button:hover,
a.group-button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
.btn-primary:hover,
.btn-info:hover {
  color: #FFF;
  background-color: #407ca0;
	background-image:none;
}
input[type=\"submit\"] {
  background-color: #5090b7;
  background-image: -moz-linear-gradient(top, #5090b7, #5090b7);
  background-image: -ms-linear-gradient(top, #5090b7, #5090b7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5090b7), to(#5090b7));
  background-image: -webkit-linear-gradient(top, #5090b7, #5090b7);
  background-image: -o-linear-gradient(top, #5090b7, #5090b7);
  background-image: linear-gradient(top, #5090b7, #5090b7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5090b7', endColorstr='#5090b7', GradientType=0);
  border-color: #5090b7 #5090b7 #5090b7;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

input:focus, textarea:focus {
  border-color: rgba(80, 144, 183, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(80, 144, 183, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(80, 144, 183, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(80, 144, 183, 0.6);
}

.wp-caption {
	background-color: #b2cedf;
}


/* Wordpress: Sidebar */
/* ================== */
#sidebar #sidebar-login-form,
#sidebar #sidebar-me,
#sidebar .widget {
	background: #F3F3F3;
	background-image:none;
  border: 1px solid #F3F3F3;
  color: #333333;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
}
#sidebar .widget h1,
#sidebar .widget h2,
#sidebar .widget h3,
#sidebar .widget h4,
#sidebar .widget h5,
#sidebar .widget h6 {
	color:#333333;
}
#sidebar .widget a {
	color:#333333;
}
#sidebar .widget label {
  color: #333333;
}
#sidebar .tb_tweet-info {
  color: #333333;
}


/* Banner */
/* ====== */
.banner.full-width {
	background-color: #b2cedf;
	background-image: url(../images/banner-bg-blue.png);
}
.banner.full-width:before,
.banner.full-width:after {
  background-color: #b2cedf;  /* Match the background */
	background-image: url(../images/banner-bg-blue.png);
}


/* Carousel */
/* ======== */
.carousel-control {
  background: none repeat scroll 0 0 #5090B7;
}
.carousel-caption h2 {
  color: #5090B7;
}


/* Magazine */
/* ======== */
.ribbon,
.magazine h3.ribbon {
  background-color: #619BBE;
}
.magazine .featured .ribbon {
  background-color: #E9473F;
}
.magazine .post.featured .text {
  background: #FFFFFF;  /* Old browsers */
	background-image:none;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);  /* IE6-9 */
  color: #333333;
  border-bottom-color: #FFFFFF;
}
.magazine .featured .text a,
.magazine .featured .text h2 a {
  color: #333333;
}
.single-post #blog-single #comments .commentlist li {
  background-color: #e5eef4;
}
#sidebar .widget.widget_categories ul li a:hover {
	background-color:#5090B7;
	border-color:#5090B7;
}
