.topbar {
	display: none;
}
header {
	margin-top:0px;
}
.navbar .brand {
  line-height: 65px;
}
.navbar .brand img {
	margin-top:15px;
	height:35px;
}
.navbar .nav > li > a {
  padding: 24px 10px 22px 10px;
}
.navbar .sub-brand {
	line-height:60px;
	padding-top:5px;
}
.header-text {
	margin-top:15px;
}