/*
Text Right
Bootstrap carousel extension
By Sam Smith
These styles overwrite the default Bootstrap ones, in order to move the caption and controls to the right hald of the slide.
*/

.carousel-control {
	left:50%;
	margin-left:20px;
	top:auto;
	bottom:25%;
	height:20px;
	width:20px;
	border: none;
	line-height:15px;
	font-size:28px;
}
.carousel-control.right {
	left:50%;
	right:auto;
	margin-left:50px;
}
.carousel-caption {
  left: 50%;
  right: 0;
  bottom: 25%;
  padding: 20px;
	background-color:transparent;
}
.carousel-caption h2,
.carousel-caption h3,
.carousel-caption h4,
.carousel-caption p {
  color: #333333;
}